<% if to %>
  <%= link_to to, role: "button", **attributes_hash do %>
    <%= render_icon icon if icon %>
    <span><%= label %></span>
  <% end %>
<% else %>
  <button <%= attributes_html %> type="<%= type %>" %>
    <%= render_icon icon if icon %>
    <span><%= label %></span>
  </button>
<% end %>
