<% if to %>
  <%= link_to to, id:, role: "button", data:, class: classname do %>
    <%= render_icon icon if icon %>
    <span><%= label %></span>
  <% end %>
<% else %>
  <button <%= component_attributes %> type="<%= type %>">
    <%= render_icon icon if icon %>
    <span><%= label %></span>
  </button>
<% end %>
