<%= resource_form_for resource_url_args_for(form.record), html: {class: "flex flex-col space-y-6 px-4 py-2"} do |f| %>
  <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-gray-200"><%= f.submit_default_value %></h2>

  <% if f.object.errors.present? %>
    <div class="flex p-4 px-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <div>
        <span class="font-medium"><%= f.error_notification %></span>
        <!--
          <ul class="mt-1.5 list-disc list-inside">
            <% f.object.errors.full_messages.each do |message|  %>
              <li><%= f.error_notification message: message  %></li>
            <% end  %>
        </ul>
        -->
      </div>
    </div>
  <% end %>

  <div>
  <% form.inputs.values.each do |input| %>
    <%= input.render self, f, form.record %>
  <% end %>
  </div>

  <div class="flex justify-end space-x-2">
    <%# TODO: move this into its own component %>
    <div class="flex" data-controller="resource-drop-down">
      <button type="submit"
              name="commit"
              value="<%= preferred_action_after_submit %>"
              class="inline-flex items-center px-4 py-2 bg-primary-600 text-white
                     rounded-s-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500"
              data-disable-with="<%= f.submit_default_value %>"
              title="<%= action_after_submit_label preferred_action_after_submit %>"
      >
        Save <%= action_after_submit_label preferred_action_after_submit %>
      </button>
      <button type="button"
              id="form-submit-options-toggle"
              data-resource-drop-down-target="trigger"
              class="inline-flex items-center px-4 py-2 bg-primary-600 text-white
                     rounded-e-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500
                     dark:border-gray-300
                     border-s">
        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div data-resource-drop-down-target="menu"
           class="z-10 hidden w-56 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
          <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="form-submit-options-toggle">
            <% supported_actions_after_submit.each do |action_after_submit| %>
            <% next if action_after_submit == preferred_action_after_submit %>
            <li>
              <div class="flex items-center">
                <button type="submit"
                        name="commit"
                        value="<%= action_after_submit %>"
                        class="w-full text-primary-700 hover:text-white border border-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-1.5 text-center dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-500 dark:focus:ring-primary-800">
                        <%= action_after_submit_label action_after_submit %>
                </button>
              </div>
            </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>

<% end %>
