<%= resource_form_for adapt_route_args(form.record), html: {class: "flex flex-col space-y-6"} do |f| %>

  <% if f.object.errors.present? %>
    <div class="flex p-4 px-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <div>
        <span class="font-medium"><%= f.error_notification %></span>
        <!--
          <ul class="mt-1.5 list-disc list-inside">
            <% f.object.errors.full_messages.each do |message|  %>
              <li><%= f.error_notification message: message  %></li>
            <% end  %>
        </ul>
        -->
      </div>
    </div>
  <% end %>

  <div>
  <% form.inputs.values.each do |input| %>
    <%= input.render f, form.record %>
  <% end %>
  </div>

  <div class="flex justify-end space-x-2">
    <%# TODO: move this into its own component %>
    <div class="flex">
      <button type="submit"
              name="commit"
              value="<%= preferred_action_after_submit %>"
              class="inline-flex items-center px-4 py-2 bg-primary-600 text-white
                     rounded-s-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500"
              data-disable-with="<%= f.submit_default_value %>"
      >
        <%= f.submit_default_value %>
      </button>
      <button type="button"
              id="form-submit-options-toggle"
              data-dropdown-toggle="form-submit-options-dropdown"
              class="inline-flex items-center px-4 py-2 bg-primary-600 text-white
                     rounded-e-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500
                     border-s">
        <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div id="form-submit-options-dropdown"
           class="z-10 hidden w-56 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
          <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="form-submit-options-toggle">
            <% supported_actions_after_submit.each do |action_after_submit| %>
            <li>
              <div class="flex items-center">
                <input id="form-submit-options-<%= action_after_submit %>"
                      type="radio" name="commit"
                      value="<%= action_after_submit %>"
                      <%= preferred_action_after_submit == action_after_submit ? "checked" : nil %>
                      class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <button type="submit"
                        name="commit"
                        value="<%= action_after_submit %>"
                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        <%= action_after_submit_label action_after_submit %>
                </button>
              </div>
            </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>

<% end %>
