<%= render_component :block, rounded: :all do %>
  <div <%= attributes_html %>>
    <div class="flex justify-between items-center mb-2">
      <% if title.present? %>
        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <%= title %>
        </h5>
      <% end %>
      <div class="flex">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
    </div>
    <%= content %>
  </div>
<% end %>
