<header>
  <nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <%=
        link_to main_app.root_path, data: { turbo: false } do
          # image_tag 'header-logo', class:"navbar-brand", style:"width: 200px;"
        end
      %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
          <%#
          <li><a class="nav-link active" aria-current="page" href="#">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Feature 1</a></li>
              <li><a class="dropdown-item" href="#">Feature 2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Comparison</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
        %>
        </ul>
        <div class="d-flex flex-column flex-md-row gap-2">
          <% if rodauth.logged_in? %>
            <%= link_to "Dashboard", dashboard_path, class: "btn btn-outline-primary", data: { turbo: false } %>
            <%= render 'shared/nav_user' %>
          <% else %>
            <%= link_to "Login", rodauth.login_path, class: "btn btn-outline-primary" %>
            <%= link_to "Register", rodauth.create_account_path, class: "btn btn-warning" %>
          <% end  %>
        </div>
      </div>
    </div>
  </nav>
</header>
