<div <%= attributes_html %>>
  <% if avatar_url.present? %>
    <button
      type="button"
      class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
      aria-expanded="false"
      id="user-nav-dropdown-toggle"
      data-resource-drop-down-target="trigger">
      <span class="sr-only">Open user menu</span>
      <img
        class="w-8 h-8 rounded-full"
        src="<%= avatar_url %>"
        alt="avatar" />
    </button>
  <% else %>
    <button
        type="button"
        class="flex mx-3 text-sm border border-gray-600 text-gray-500 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
        aria-expanded="false"
        id="user-nav-dropdown-toggle"
        data-resource-drop-down-target="trigger">
      <span class="sr-only">Open user menu</span>
      <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
      </svg>
    </button>
  <% end %>
  <!-- Dropdown menu -->
  <div
    class="hidden z-50 my-4 w-56 text-base list-none bg-white divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
    data-resource-drop-down-target="menu">
    <div class="py-3 px-4">
      <% if name.present? %>
      <span
        class="block text-sm font-semibold text-gray-900 dark:text-white">
        <%= name %>
      </span>
      <% end %>
      <span
        class="block text-sm text-gray-900 truncate dark:text-white">
        <%= email %>
      </span>
    </div>

    <% sections.each do |section| %>
      <%= section %>
    <% end %>

  </div>
</div>
