<%# locals: (interactive_action:) -%>

<% if current_turbo_frame == 'modal' %>
  <%= turbo_frame_tag "modal" do %>
    <div class="modal" tabindex="-1" data-controller="modal">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <%= resource_form_for @interaction, as: :interaction,
                                          method: :post,
                                          turbo_frame: :modal,
                                          url: "" do |f| %>
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><%= interactive_action.name.to_s.titleize %></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="form-errors">
                  <%= f.error_notification %>
                  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                  <% f.object.errors.full_messages.each do |message| %>
                    <%= f.error_notification message: message %>
                  <% end %>
                </div>
              </div>
              <div class="form-inputs">
                <% interactive_action.inputs.values.each do |input| %>
                  <%= render input.with(form: f, record: @interaction) %>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <%= f.button :submit, interactive_action.label, class: "btn btn-outline-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else%>
  <%= render_component :panel do %>
    <%= render_component :interactive_action_form, interactive_action:, interaction: @interaction %>
  <% end %>
<% end %>
