<%# locals: (search_object:) -%>
<% if search_object.search_filter.present? && current_policy.search? %>
  <%= simple_form_for :q, method: :get, html: { class: "d-inline", data: { controller: "form", turbo_frame: nil } } do |f| %>
    <label for="search" class="form-label visually-hidden">Search</label>
    <%= search_object.search_filter.input_definitions[:search].render f, nil,
            wrapper: false, label: false,
            as: :string, # force string for search
            placeholder: "search...",
            required: false,
            input_html: {
              id: "search",
              value: search_object.search_query,
              class: "form-control form-control-sm d-inline w-auto", style: "box-shadow: none;",
              data: {
                action: "form#submit",
                # form_target: "focus",
                turbo_permanent: true
              }
            } %>
    <%= f.hidden_field :scope, value: params[:q].try(:[], :scope) %>

    <% f.hidden_field :sort_fields, value: params[:q].try(:[], :sort_fields) %>

    <%= f.simple_fields_for :sort_fields do |nested| %>
      <% Array(params[:q].try(:[], :sort_fields)).each do |key| %>
        <%= nested.hidden_field nil, value: key %>
      <% end %>
    <% end %>

    <%= f.simple_fields_for :sort_directions do |nested| %>
      <% (params[:q].try(:[], :sort_directions) || {}).each do |key, value| %>
        <%= nested.hidden_field key, value: %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
