<%# locals: (details:) -%>

<%=
  render_component :toolbar, resource: details.record,
                             actions: details.actions.record_actions.permitted_for(policy(details.record))
%>

<%= render_component :block, rounded: :top do %>
  <ul class="text-sm font-medium flex flex-wrap -mb-px -ms-px">
    <li class="me-2">
      <a class="inline-block p-4 text-primary-600 border-b-2 border-primary-600 rounded-t-lg active dark:text-primary-500 dark:border-primary-500" aria-current="page" href="">Details</a>
      <a class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" href="">Something</a>
    </li>
  </ul>
<% end %>

<%= render_component :block, rounded: :bottom do %>

  <div class="p-4">
    <dl class="divide-y divide-gray-100">
      <% details.fields.each do |name, field| %>
        <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300">
            <%= field.label %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
            <%= field.render self, details.record %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>

<% end %>
