<%# locals: (details:) -%>

<%=
  render_component :toolbar, resource: details.record,
                             actions: details.actions.record_actions.permitted_for(current_policy)
%>

<%= render_component :block, rounded: :all do %>
  <div class="p-4">
    <dl class="divide-y divide-gray-100">
      <% details.fields.each do |name, renderer| %>
        <%
          # TODO:
          # For now, we are hacking around the need to call #with before #label
          # This proves there's an issue with the rendering api.
          # While I think of an elegant solution, this works for now.

          renderer.with(record: details.record)
        %>
        <div class="py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-gray-300">
            <%= renderer.label %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 dark:text-gray-200 sm:col-span-2 sm:mt-0">
            <%= render renderer %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
<% end %>

<% if present_associations? %>
  <% details.associations.each do |name, renderer| %>
    <%= render renderer.with(record: details.record) %>
  <% end %>
<% end %>
