<%# locals: (search_object:) -%>

<% if search_object.search_filter.present? && current_policy.search? %>
  <%= simple_form_for :q, method: :get, html: { class: "flex items-center", data: { controller: "form", turbo_frame: nil } } do |f| %>
    <label for="search" class="sr-only">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
        </div>
        <%= search_object.search_filter.input_definitions[:search].render f, nil,
            wrapper: false, label: false,
            as: :string, # force string for search
            placeholder: "search...",
            required: false,
            input_html: {
              id: "search",
              value: search_object.search_query,
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
              data: {
                action: "form#submit",
                # form_target: "focus",
                turbo_permanent: true
              }
        } %>
    </div>


    <%# preserve collection filters %>

    <%= f.hidden_field :scope, value: params[:q].try(:[], :scope) %>
    <%= f.simple_fields_for :sort_fields do |nested| %>
      <% Array(params[:q].try(:[], :sort_fields)).each do |key| %>
        <%= nested.hidden_field nil, value: key %>
      <% end %>
    <% end %>
    <%= f.simple_fields_for :sort_directions do |nested| %>
      <% (params[:q].try(:[], :sort_directions) || {}).each do |key, value| %>
        <%= nested.hidden_field key, value: %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
