<%# locals: (collection:) -%>

<%
  resource_class = collection.resource_class
  resources = collection.records.to_a
  record_actions = collection.actions.collection_record_actions
  search_object = collection.search_object
  collection_actions = @collection.actions.collection_actions.permitted_for(current_policy)
-%>

<%= render partial: "resource_table_toolbar", locals: {resource_class:, search_object:, actions: collection_actions} %>

<div class="row">
  <% unless resources.any? %>
    <div class="col-12">
      <%=
        render "empty_card", message: "You have no #{resource_name_plural(resource_class).downcase}" do
          if current_policy.create?
            link_to "Create #{resource_name(resource_class)}", adapt_route_args(resource_class, action: :new), class: 'btn btn-outline-primary'
          end
        end
      %>
    </div>
  <% else %>
    <div class="col-12">
      <div id="table-container" class="table-responsive max-vh-75 pb-2" data-controller="scroll-preserver" data-action="scroll->scroll-preserver#scrolled">
        <table class="table table-hover table-striped my-0">
          <thead>
            <tr>
              <th scope="col" class="text-center resource-table-col-id"><%= sort_link(search_object, :id, '#', class: "text-decoration-none") %></th>
              <% collection.fields.each do |name, field| %>
                <th scope="col" class="resource-table-col-attr">
                  <% if resource_class.ransortable_attributes.include? name.to_s %>
                    <%= sort_link(search_object, name, field.label, class: "text-decoration-none") %>
                  <% else %>
                    <%= field.label %>
                  <% end %>
                </th>
              <% end %>
              <th scope="col" class="text-center resource-table-col-actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% resources.each do |resource| %>
              <tr class="align-middle">
                <td class="text-center text-truncate resource-table-cell-id">
                  <% if policy(resource).show? %>
                    <%= link_to resource.to_param, adapt_route_args(resource), class: "text-decoration-none" %>
                  <% else %>
                    <%= resource.to_param %>
                  <% end %>
                </td>
                <% collection.fields.each do |name, field| %>
                  <%
                    options = field.options
                    max_width = options.delete :pu_max_width
                  %>
                  <td class='text-truncate resource-table-cell-attr' style="max-width: <%= max_width %>px;">
                    <%= field.render self, resource %>
                  </td>
                <% end %>
                <td class="text-center resource-table-cell-actions">
                  <%=
                  render partial: "resource_table_actions", locals: {
                    actions: record_actions.permitted_for(policy(resource)),
                    resource: resource
                  }
                %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if collection.pager.present? %>
      <div class="col-12">
        <%= render "pagination", pager: collection.pager %>
      </div>
    <% end  %>
  <% end %>
</div>
