<li <%= attributes_html %>>
  <% if sub_items.any? %>
    <button
      type="button"
      class="<%= link_button_class %> w-full transition duration-75"
      data-resource-collapse-target="trigger"
      aria-controls="side-menu-item-<%= name.parameterize %>">
      <% if icon.present? %>
        <%= render_icon icon, size: :lg, classname: icon_class %>
      <% else %>
        <div class="shrink-0 w-6 h-6">
          &nbsp;
        </div>
      <% end %>
      <span class="<%= link_label_class %>"><%= name %></span>
      <svg
        aria-hidden="true"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <ul id="side-menu-item-<%= name.parameterize %>" data-resource-collapse-target="menu" class="hidden py-2 space-y-2">
      <% sub_items.each do |sub_item| %>
        <%#= sub_item %>
        <li>
          <a
            href="<%= sub_item.url %>"
            class="<%= sub_link_button_class %>">
            <%= sub_item.name %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <a
      href="<%= url %>"
      class="<%= link_link_class %>">
      <% if icon.present? %>
        <%= render_icon icon, size: :lg, classname: icon_class %>
      <% else %>
        <div class="shrink-0 w-6 h-6">
          &nbsp;
        </div>
      <% end %>
      <span class="<%= link_label_class %>"><%= name %></span>
      <%#
        <% if indicator.present? % >
          <span class="inline-flex justify-center items-center w-5 h-5 text-xs font-semibold rounded-full text-primary-800 bg-primary-100 dark:bg-primary-200 dark:text-primary-800">
            <%= indicator % >
          </span>
        <% end % >
      %>
    </a>
  <% end %>
</li>
