<%= form_with url: rodauth.confirm_password_path, method: :post, data: { turbo: false }, class: "space-y-4" do |form| %>
  <h2 class="text-xl font-semibold text-center text-[var(--pu-text)]">
    <%= rodauth.confirm_password_page_title %>
  </h2>

  <div>
    <%= form.label "password", rodauth.password_label, class: "pu-label" %>
    <%= form.password_field rodauth.password_param,
                        value: "",
                        id: "password",
                        autocomplete: rodauth.password_field_autocomplete_value,
                        required: true,
                        class: "pu-input #{rodauth.field_error(rodauth.password_param) ? 'pu-input-invalid' : ''}",
                        aria: (rodauth.field_error(rodauth.password_param) ? { invalid: true, describedby: "password_error_message" } : nil) %>
    <% if rodauth.field_error(rodauth.password_param) %>
      <span class="pu-error" id="password_error_message"><%= rodauth.field_error(rodauth.password_param) %></span>
    <% end %>
  </div>

  <%= form.submit rodauth.confirm_password_button, class: "w-full pu-btn pu-btn-md pu-btn-primary" %>
<% end %>
