<%= form_with url: rodauth.otp_auth_path, method: :post, data: { turbo: false }, class: "space-y-4" do |form| %>
  <div>
    <%= form.label "otp-auth-code", rodauth.otp_auth_label, class: "pu-label" %>
    <%= form.text_field rodauth.otp_auth_param,
                    value: "",
                    id: "otp-auth-code",
                    autocomplete: "off",
                    inputmode: "numeric",
                    required: true,
                    class: "pu-input #{rodauth.field_error(rodauth.otp_auth_param) ? 'pu-input-invalid' : ''}",
                    aria: (rodauth.field_error(rodauth.otp_auth_param) ? { invalid: true, describedby: "otp-auth-code_error_message" } : nil) %>
    <% if rodauth.field_error(rodauth.otp_auth_param) %>
      <span class="pu-error" id="otp-auth-code_error_message"><%= rodauth.field_error(rodauth.otp_auth_param) %></span>
    <% end %>
  </div>
  <%= form.submit rodauth.otp_auth_button, class: "w-full pu-btn pu-btn-md pu-btn-primary" %>
<% end %>
