<%= resource_form_with url: rodauth.recovery_auth_path, method: :post, data: { turbo: false }, class: "space-y-4" do |form| %>
  <div>
    <%= form.label "recovery-code", rodauth.recovery_codes_label, class: "pu-label" %>
    <%= form.text_field rodauth.recovery_codes_param,
                    value: "",
                    id: "recovery-code",
                    autocomplete: "off",
                    required: true,
                    class: "pu-input #{rodauth.field_error(rodauth.recovery_codes_param) ? 'pu-input-invalid' : ''}",
                    aria: (rodauth.field_error(rodauth.recovery_codes_param) ? { invalid: true, describedby: "recovery-code_error_message" } : nil) %>
    <% if rodauth.field_error(rodauth.recovery_codes_param) %>
      <span class="pu-error" id="recovery-code_error_message"><%= rodauth.field_error(rodauth.recovery_codes_param) %></span>
    <% end %>
  </div>

  <%= form.submit rodauth.recovery_auth_button, class: "w-full pu-btn pu-btn-md pu-btn-primary" %>
<% end %>
