<%= form_with url: rodauth.remember_path, method: :post, data: { turbo: false }, class: "space-y-4" do |form| %>
  <fieldset class="mb-6 space-y-2">
    <div class="flex items-center space-x-2">
      <%= form.radio_button rodauth.remember_param, rodauth.remember_remember_param_value, id: "remember-remember", class: "pu-checkbox" %>
      <%= form.label "remember-remember", rodauth.remember_remember_label, class: "text-sm text-[var(--pu-text)]" %>
    </div>
    <div class="flex items-center space-x-2">
      <%= form.radio_button rodauth.remember_param, rodauth.remember_forget_param_value, id: "remember-forget", class: "pu-checkbox" %>
      <%= form.label "remember-forget", rodauth.remember_forget_label, class: "text-sm text-[var(--pu-text)]" %>
    </div>
    <div class="flex items-center space-x-2">
      <%= form.radio_button rodauth.remember_param, rodauth.remember_disable_param_value, id: "remember-disable", class: "pu-checkbox" %>
      <%= form.label "remember-disable", rodauth.remember_disable_label, class: "text-sm text-[var(--pu-text)]" %>
    </div>
  </fieldset>

  <%= form.submit rodauth.remember_button, class: "w-full pu-btn pu-btn-md pu-btn-primary" %>
<% end %>
