<div class="mb-4 text-sm text-gray-500 dark:text-gray-400">
  <%== rodauth.reset_password_explanatory_text %>
</div>
<%= form_with url: rodauth.reset_password_request_path, method: :post, data: { turbo: false }, class: "space-y-4 md:space-y-6" do |form| %>
  <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
    <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
  <% else %>
    <div class="mb-6">
      <%= form.label "login", rodauth.login_label, class: "block mb-2 text-sm font-semibold text-gray-900 dark:text-white" %>
      <%= form.email_field rodauth.login_param, value: params[rodauth.login_param],
                                                id: "login",
                                                autocomplete: "email",
                                                required: true,
                                                placeholder: "jane@acme.inc",
                                                class: "bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 #{rodauth.field_error(rodauth.login_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400" : "border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" }", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
      <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "block mt-1 text-red-600 text-sm dark:text-red-400", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
    </div>
  <% end %>

  <%= form.submit rodauth.reset_password_request_button, class: "w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-semibold rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
<% end %>
