<%= form_with url: rodauth.sms_auth_path, method: :post, data: { turbo: false }, class: "space-y-4" do |form| %>
  <div>
    <%= form.label "sms-code", rodauth.sms_code_label, class: "pu-label" %>
    <%= form.text_field rodauth.sms_code_param,
                    value: "",
                    id: "sms-code",
                    autocomplete: "one-time-code",
                    inputmode: "numeric",
                    required: true,
                    class: "pu-input w-1/2 #{rodauth.field_error(rodauth.sms_code_param) ? 'pu-input-invalid' : ''}",
                    aria: (rodauth.field_error(rodauth.sms_code_param) ? { invalid: true, describedby: "sms-code_error_message" } : nil) %>
    <% if rodauth.field_error(rodauth.sms_code_param) %>
      <span class="pu-error" id="sms-code_error_message"><%= rodauth.field_error(rodauth.sms_code_param) %></span>
    <% end %>
  </div>

  <%= form.submit rodauth.sms_auth_button, class: "w-full pu-btn pu-btn-md pu-btn-primary" %>
<% end %>
