<%= form_with url: rodauth.sms_disable_path, method: :post, data: { turbo: false }, class: "space-y-4" do |form| %>
  <% if rodauth.two_factor_modifications_require_password? %>
    <div>
      <%= form.label "password", rodauth.password_label, class: "pu-label" %>
      <%= form.password_field rodauth.password_param,
                          value: "",
                          id: "password",
                          autocomplete: rodauth.password_field_autocomplete_value,
                          required: true,
                          class: "pu-input #{rodauth.field_error(rodauth.password_param) ? 'pu-input-invalid' : ''}",
                          aria: (rodauth.field_error(rodauth.password_param) ? { invalid: true, describedby: "password_error_message" } : nil) %>
      <% if rodauth.field_error(rodauth.password_param) %>
        <span class="pu-error" id="password_error_message"><%= rodauth.field_error(rodauth.password_param) %></span>
      <% end %>
    </div>
  <% end %>

  <%= form.submit rodauth.sms_disable_button, class: "w-full pu-btn pu-btn-md pu-btn-warning" %>
<% end %>
