<%= form_with url: rodauth.verify_account_path, method: :post, data: { turbo: false, controller: "password-visibility" }, class: "space-y-4" do |form| %>
  <% if rodauth.verify_account_set_password? %>
    <div>
      <%= form.label "password", rodauth.password_label, class: "pu-label" %>
      <%= form.password_field rodauth.password_param,
                          value: "",
                          data: { password_visibility_target: "password" },
                          id: "password",
                          autocomplete: rodauth.password_field_autocomplete_value,
                          required: true,
                          class: "pu-input #{rodauth.field_error(rodauth.password_param) ? 'pu-input-invalid' : ''}",
                          aria: (rodauth.field_error(rodauth.password_param) ? { invalid: true, describedby: "password_error_message" } : nil) %>
      <% if rodauth.field_error(rodauth.password_param) %>
        <span class="pu-error" id="password_error_message"><%= rodauth.field_error(rodauth.password_param) %></span>
      <% end %>
    </div>

    <% if rodauth.require_password_confirmation? %>
      <div>
        <%= form.label "password-confirm", rodauth.password_confirm_label, class: "pu-label" %>
        <%= form.password_field rodauth.password_confirm_param,
                            value: "",
                            data: { password_visibility_target: "password" },
                            id: "password-confirm",
                            autocomplete: "new-password",
                            required: true,
                            class: "pu-input #{rodauth.field_error(rodauth.password_confirm_param) ? 'pu-input-invalid' : ''}",
                            aria: (rodauth.field_error(rodauth.password_confirm_param) ? { invalid: true, describedby: "password-confirm_error_message" } : nil) %>
        <% if rodauth.field_error(rodauth.password_confirm_param) %>
          <span class="pu-error" id="password-confirm_error_message"><%= rodauth.field_error(rodauth.password_confirm_param) %></span>
        <% end %>
      </div>
    <% end %>
    <%= render "password_visibility" %>
  <% end %>

  <%= form.submit rodauth.verify_account_button, class: "w-full pu-btn pu-btn-md pu-btn-primary" %>
<% end %>
