<%= form_with url: rodauth.webauthn_remove_path, method: :post, id: "webauthn-remove-form", data: { turbo: false }, class: "space-y-4" do |form| %>
  <% if rodauth.two_factor_modifications_require_password? %>
    <div>
      <%= form.label "password", rodauth.password_label, class: "pu-label" %>
      <%= form.password_field rodauth.password_param,
                          value: "",
                          id: "password",
                          autocomplete: rodauth.password_field_autocomplete_value,
                          required: true,
                          class: "pu-input #{rodauth.field_error(rodauth.password_param) ? 'pu-input-invalid' : ''}",
                          aria: (rodauth.field_error(rodauth.password_param) ? { invalid: true, describedby: "password_error_message" } : nil) %>
      <% if rodauth.field_error(rodauth.password_param) %>
        <span class="pu-error" id="password_error_message"><%= rodauth.field_error(rodauth.password_param) %></span>
      <% end %>
    </div>
  <% end %>

  <fieldset class="mb-6 space-y-2">
    <% rodauth.account_webauthn_usage.each do |id, last_use| %>
      <div class="flex items-center space-x-2">
        <% last_use = last_use.strftime(rodauth.strftime_format) if last_use.is_a?(Time) %>
        <%= form.radio_button rodauth.webauthn_remove_param, id, id: "webauthn-remove-#{id}", class: "pu-checkbox" %>
        <%= form.label "webauthn-remove-#{id}", "Last use: #{last_use}", class: "text-sm text-[var(--pu-text)]" %>
      </div>
    <% end %>
    <% if rodauth.field_error(rodauth.webauthn_remove_param) %>
      <span class="pu-error" id="webauthn_remove_error_message"><%= rodauth.field_error(rodauth.webauthn_remove_param) %></span>
    <% end %>
  </fieldset>

  <%= form.submit rodauth.webauthn_remove_button, class: "w-full pu-btn pu-btn-md pu-btn-warning" %>
<% end %>
