<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title><%= page_title @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield(:meta) %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css" integrity="sha512-/FHUK/LsH78K9XTqsR9hbzr21J8B8RwHR/r8Jv9fzry6NVAOVIGFKQCNINsbhK7a1xubVu2r5QZcz2T9cKpubw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js" integrity="sha512-P2W2rr8ikUPfa31PLBo5bcBQrsa+TNj8jiKadtaIrHQGMo6hQM6RdPjQYxlNguwHz8AwSQ28VkBK6kHBLgd/8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.6.0/slimselect.min.css" integrity="sha512-GvqWM4KWH8mbgWIyvwdH8HgjUbyZTXrCq0sjGij9fDNiXz3vJoy3jCcAaWNekH2rJe4hXVWCJKN+bEW8V7AAEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.6.0/slimselect.min.js" integrity="sha512-0E8oaoA2v32h26IycsmRDShtQ8kMgD91zWVBxdIvUCjU3xBw81PV61QBsBqNQpWkp/zYJZip8Ag3ifmzz1wCKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/plutonium-assets/application.css" />
    <script src="/plutonium-assets/application.js"></script>
    <script src="/plutonium-assets/application.css"></script>
    <%= yield(:head) %>
  </head>
  <body class="bg-body-tertiary">
    <%= modal_frame_tag do %>
      <%= yield(:modal) %>
    <% end %>
    <%= render "messages" %>
    <%= content_for?(:header) ? yield(:header) : render("header") %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-3 col-xl-2 pt-2">
          <%= render 'sidebar' %>
        </div>
        <div class="col-12 col-sm-9 col-xl-10 pt-2">
          <div class="container-fluid">
            <turbo-frame id="content" data-turbo-action="advance">
              <%= yield(:toolbar) %>
              <%= yield %>
            </turbo-frame>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/color_modes' %>
  </body>
</html>
