<%= render_component :resource_layout, page_title: @page_title,
                                       lang: "en",
                                       main_classname: "flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0" do |layout| %>
  <% layout.with_favicon do %>
    <%= resource_favicon_tag %>
  <% end %>
  <%= link_to root_path, class: "flex items-center text-2xl font-semibold text-gray-900 dark:text-white" do %>
      <%= resource_logo_tag classname: "w-24 h-24 mr-2" %>
  <% end %>
  <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <%= yield %>
      </div>
  </div>
  <div class="mt-4 flex items-center font-medium text-secondary-600 dark:text-secondary-400 hover:underline">
    <%= render_icon "outline/home" %>
    <%= link_to "Home", root_path, class: "font-medium text-secondary-600 dark:text-secondary-400" %>
  </div>
<% end %>
