<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <%= Plutonium::Config.stylesheet_tag.call self %>
    <%= Plutonium::Config.script_tag.call self %>
  </head>
  <body class="antialiased bg-gray-50 dark:bg-gray-900">
    <main div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <%= render "flash" %>
      <p class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-16 h-16 mr-2" src="<%= Plutonium.logo_link %>" alt="logo">
        <%= application_name %>
      </p>
      <div class="w-full max-w-md bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full p-6 space-y-4 md:space-y-6 sm:p-8">
          <%= yield %>
        </div>
      </div>
      <div class="mt-4 flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
        <%= Plutonium::Icons.render "outline/home" %>
        <%= link_to "Home", root_path, class: "font-medium text-blue-600 dark:text-blue-500" %>
      </div>
    </main>
  </body>
</html>
